<!-- NAVBAR START -->
<nav class="navbar navbar-expand-lg py-lg-3 navbar-dark">
    <div class="container">

        <!-- logo -->
        <a href="index.html" class="navbar-brand me-lg-5">
            <img src="assets/images/logo.png" alt="logo" class="logo-dark" height="22" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>

        <!-- menus -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <!-- left menu -->
            <ul class="navbar-nav me-auto align-items-center">
                <li class="nav-item mx-lg-1">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item mx-lg-1">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item mx-lg-1">
                    <a class="nav-link" href="#">FAQs</a>
                </li>
                <li class="nav-item mx-lg-1">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

            <!-- right menu -->
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item me-0">
                    <a routerLink="/Login" class="nav-link d-lg-none">Sign In</a>
                    <a routerLink="/Login" class="btn btn-sm btn-light rounded-pill d-none d-lg-inline-flex">
                        <i class="mdi mdi-login-variant"></i> Sign In
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- NAVBAR END -->

<!-- START HERO -->
<section class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="mt-md-4">
                    <div>
                        <span class="badge bg-danger font-13 rounded-pill">New</span>
                        <span class="text-white-50 ms-1">Introducing a Secure Way to Voice Your Concerns</span>
                    </div>
                    <h2 class="text-white fw-normal mb-4 mt-3 lh-base">
                        SafeWork - Your Workplace Complaint Management System
                    </h2>

                    <p class="mb-4 font-16 text-white-50">SafeWork is a comprehensive platform designed to enable
                        employees to confidentially and securely submit complaints about workplace conditions. Our
                        system ensures privacy and prompt response to all your concerns.</p>

                    <a href="#features" class="btn btn-lg font-16 btn-success">Learn More <i
                            class="mdi mdi-arrow-right ms-1"></i></a>
                    <!-- <a href="#contact" class="btn btn-lg font-16 btn-info">Contact Us</a> -->
                </div>
            </div>
            <div class="col-md-5 offset-md-2">
                <div class="text-md-end mt-3 mt-md-0">
                    <img src="assets/images/svg/startup.svg" alt="Workplace Illustration" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END HERO -->

<!-- START FEATURES 2 -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="mt-0"><i class="mdi mdi-shield-account-outline"></i></h1>
                    <h3>Key Features of <span class="text-danger">SafeWork</span></h3>
                    <p class="text-muted mt-2">SafeWork is designed to enhance the way workplace issues are reported
                        and
                        handled, with a focus on security and user-friendliness.</p>
                </div>
            </div>
        </div>
        <div class="row mt-2 py-5 align-items-center">
            <div class="col-lg-5 col-md-6">
                <img src="assets/images/svg/features-1.svg" class="img-fluid" alt="Security Image">
            </div>
            <div class="col-lg-6 offset-md-1 col-md-5">
                <h3 class="fw-normal">Secure and Confidential</h3>
                <p class="text-muted mt-3">Your privacy is our priority. SafeWork ensures all complaints are
                    encrypted
                    and securely stored.</p>

                <div class="mt-4">
                    <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> End-to-End Encryption
                    </p>
                    <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Anonymous Complaint
                        Options
                    </p>
                    <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Secure User
                        Authentication
                    </p>
                </div>

                <a href="#privacy" class="btn btn-primary rounded-pill mt-3">Learn About Security <i
                        class="mdi mdi-arrow-right ms-1"></i></a>
            </div>
        </div>

        <div class="row pb-3 pt-5 align-items-center">
            <div class="col-lg-6 col-md-5">
                <h3 class="fw-normal">User-Friendly Interface</h3>
                <p class="text-muted mt-3">SafeWork offers a straightforward and intuitive interface, making it easy
                    for
                    employees to report and track their complaints.</p>

                <div class="mt-4">
                    <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> Easy Complaint
                        Submission
                    </p>
                    <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> Real-Time Status
                        Tracking
                    </p>
                    <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> Responsive Design for
                        All
                        Devices</p>
                </div>

                <a href="#how-it-works" class="btn btn-success rounded-pill mt-3">How It Works <i
                        class="mdi mdi-arrow-right ms-1"></i></a>
            </div>
            <div class="col-lg-5 col-md-6 offset-md-1">
                <img src="assets/images/svg/features-2.svg" class="img-fluid" alt="User-Friendly Interface Image">
            </div>
        </div>
    </div>
</section>

<!-- END FEATURES 2 -->

<!-- START FAQ -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="mt-0"><i class="mdi mdi-frequently-asked-questions"></i></h1>
                    <h3>Frequently Asked <span class="text-primary">Questions</span> about SafeWork</h3>
                    <p class="text-muted mt-2">Here are some common questions about our workplace complaint
                        management
                        system. For more information, feel free to contact us.</p>

                    <button type="button" class="btn btn-success btn-sm mt-2"><i class="mdi mdi-email-outline me-1"></i>
                        Email us your question</button>
                    <button type="button" class="btn btn-info btn-sm mt-2 ms-1"><i class="mdi mdi-twitter me-1"></i>
                        Send us a tweet</button>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-5 offset-lg-1">
                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question text-body">How secure is submitting a complaint on SafeWork?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">SafeWork uses end-to-end encryption to ensure all
                        complaints are securely submitted and stored. Your privacy and the confidentiality of your
                        information are our top priority.</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question text-body">Can I submit a complaint anonymously?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Yes, SafeWork allows you to submit complaints
                        anonymously
                        to ensure your comfort and privacy in sensitive situations.</p>
                </div>

            </div>
            <!--/col-lg-5 -->

            <div class="col-lg-5">
                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question text-body">How can I track the status of my complaint?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Once you submit a complaint, you can track its status
                        in
                        real-time through your SafeWork dashboard. You'll receive updates as your complaint is
                        reviewed
                        and processed.</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question text-body">What kind of support does SafeWork offer?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">We offer comprehensive support through email and our
                        support portal. Our dedicated team is here to assist you with any issues or questions you
                        might
                        have.</p>
                </div>

            </div>
            <!--/col-lg-5-->
        </div>
        <!-- end row -->

    </div> <!-- end container-->
</section>

<!-- END FAQ -->


<!-- START CONTACT -->
<section class="py-5 bg-light-lighten border-top border-bottom border-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h3>Get In <span class="text-primary">Touch</span> with SafeWork</h3>
                    <p class="text-muted mt-2">Have questions or need support with SafeWork? <br>Please fill out the
                        form below, and our team will respond promptly. <br>For immediate assistance, you can also
                        reach
                        us through the contact information provided.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-3">
            <div class="col-md-4">
                <p class="text-muted"><span class="fw-bold">Customer Support:</span><br> <span class="d-block mt-1">+1
                        800 555 1234</span></p>
                <p class="text-muted mt-4"><span class="fw-bold">Email Address:</span><br> <span
                        class="d-block mt-1">support@safework.com</span></p>
                <p class="text-muted mt-4"><span class="fw-bold">Office Address:</span><br> <span
                        class="d-block mt-1">123 SafeWork Blvd, Suite 400, Business City, BC 12345</span></p>
                <p class="text-muted mt-4"><span class="fw-bold">Office Hours:</span><br> <span
                        class="d-block mt-1">Monday to Friday - 9:00AM to 5:00PM</span></p>
            </div>

            <div class="col-md-7">
                <form>
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label for="fullname" class="form-label">Your Name</label>
                                <input class="form-control form-control-light py-2" type="text" id="fullname"
                                    placeholder="Enter your name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label for="emailaddress" class="form-label">Your Email</label>
                                <input class="form-control form-control-light py-2" type="email" required=""
                                    id="emailaddress" placeholder="Enter your email">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-lg-12">
                            <div class="mb-2">
                                <label for="subject" class="form-label">Subject</label>
                                <input class="form-control form-control-light py-2" type="text" id="subject"
                                    placeholder="Subject of your message">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-lg-12">
                            <div class="mb-2">
                                <label for="comments" class="form-label">Message</label>
                                <textarea id="comments" rows="4" class="form-control form-control-light"
                                    placeholder="Type your message here..."></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12 text-end">
                            <button class="btn btn-primary">Send Message <i class="mdi mdi-telegram ms-1"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- END CONTACT -->

<!-- START FOOTER -->
<footer class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/images/logo.png" alt="SafeWork logo" class="logo-dark" height="22" />
                <p class="text-light text-opacity-50 mt-4">SafeWork is dedicated to improving workplace environments
                    by
                    providing a secure platform for submitting and managing complaints.</p>

                <ul class="social-list list-inline mt-3">
                    <li class="list-inline-item text-center">
                        <a href="#" class="social-list-item border-primary text-primary"><i
                                class="mdi mdi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a href="#" class="social-list-item border-danger text-danger"><i
                                class="mdi mdi-google"></i></a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a href="#" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a href="#" class="social-list-item border-secondary text-secondary"><i
                                class="mdi mdi-github"></i></a>
                    </li>
                </ul>

            </div>

            <div class="col-lg-2 col-md-4 mt-3 mt-lg-0">
                <h5 class="text-light">Resources</h5>

                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2"><a href="#" class="text-light text-opacity-50">About Us</a></li>
                    <li class="mt-2"><a href="#" class="text-light text-opacity-50">Documentation</a></li>
                    <li class="mt-2"><a href="#" class="text-light text-opacity-50">Blog</a></li>
                    <li class="mt-2"><a href="#" class="text-light text-opacity-50">Contact</a></li>
                </ul>

            </div>

            <div class="col-lg-2 col-md-4 mt-3 mt-lg-0">
                <h5 class="text-light">Services</h5>

                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2"><a href="#" class="text-light text-opacity-50">Complaint
                            Submission</a></li>
                    <li class="mt-2"><a href="#" class="text-light text-opacity-50">FAQs</a></li>
                    <li class="mt-2"><a href="#" class="text-light text-opacity-50">Support Center</a></li>
                    <li class="mt-2"><a href="#" class="text-light text-opacity-50">Privacy Policy</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 mt-3 mt-lg-0">
                <h5 class="text-light">Legal</h5>

                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2"><a href="#" class="text-light text-opacity-50">Terms and
                            Conditions</a></li>
                    <li class="mt-2"><a href="#" class="text-light text-opacity-50">Privacy Policy</a>
                    </li>
                    <li class="mt-2"><a href="#" class="text-light text-opacity-50">Compliance</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5">
                    <p class="text-light text-opacity-50 mt-4 text-center mb-0">© 2024 SafeWork. All Rights
                        Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- END FOOTER -->